<main [ngClass]="{'blur': modalActive}">
  <section class="desserts">
    <h1>Desserts</h1>

    <div class="desserts-container">
          <div class="dessert-item" *ngFor="let dessertItem of Desserts; index as ii">
            <section class="item-image-add-to-cart">
               <picture>
                  <source [attr.srcset]="dessertItem.image.mobile" media="(max-width: 678px)" />
                  <source [attr.srcset]="dessertItem.image.tablet" media="(min-width: 679px) and (max-width: 1023px)" />
                  <source [attr.srcset]="dessertItem.image.desktop" media="(min-width: 1024px)" />

                  <img [src]="dessertItem.image.desktop" [alt]="dessertItem.name" />
               </picture>
              <app-add-to-cart [itemToAdd]="dessertItem" />
            </section>
            <section class="item-info">
              <p class="category">{{ dessertItem.category }}</p>
              <p class="name">{{ dessertItem.name }}</p>
              <p class="price">{{ dessertItem.price | currency:'USD':'symbol':'1.2-2' }}</p>
            </section>
          </div>
    </div>
  </section>

  <app-cart-display (modalActive)="handleModalActive($event)"></app-cart-display>


</main>