<main>
  <section class="desserts">
    <h1>Desserts</h1>

    <div class="desserts-container">
          <div class="dessert-item" *ngFor="let dessertItem of Desserts; index as ii">
            <section class="item-image-add-to-cart">
              <img [src]="dessertItem.image.thumbnail" alt="dessert image">
              <app-add-to-cart [itemToAdd]="dessertItem" />
            </section>
            <section class="item-info">
              <p class="category">{{ dessertItem.category }}</p>
              <p class="name">{{ dessertItem.name }}</p>
              <p class="price">{{ dessertItem.price | currency:'USD':'symbol':'1.2-2' }}</p>
            </section>
          </div>
    </div>
  </section>

  <app-cart-display></app-cart-display>


</main>