@use 'mixins' as *;
@use 'variables' as *;

:host {
  width: 100%;
}

main {
  @include flex(row, flex-start, stretch, 2rem);
  width: min(1316px, 90%);
  margin: auto;
  padding: 1rem 0;
  // flex-wrap: wrap;
}


.blur {
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  // position: fixed;
  // inset: 0
}

.desserts {
  @include flex(column, flex-start, stretch, 2rem);
  width: 100%;
  height: 100%;
  
  h1 {
    @include TextPreset1;
    color: $rose-900;
  }
}

// dessert section
.desserts-container {
  @include flex(row, flex-start, stretch, 1.5rem);
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .dessert-item {
    @include flex(column, flex-start, stretch, 2rem);
    width: 250px;
    height: fit-content;

    .item-image-add-to-cart {
      @include flex(column);

      img {
        aspect-ratio: 1;
        border-radius: 10px;
        object-fit: cover;
      }
    }


    // item info
    .item-info {
      .category {
        @include TextPreset4;
      }
      .name, .price {
        @include TextPreset3;
      }
      .price {
        color: $red;
      }
    }
  }
}





/* responsive rules */
@media (max-width: 1060px) {
  main {
    display: flex;
    flex-direction: column;
  }
}